:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    height: 100vh; 
    background-color: #66615b; 
    font-size: 14px; 
    font-family: muli,Arial,sans-serif; 
    line-height: 1.42857143;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

p {
    margin-left: 5px; 
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 14px;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
  }

  select,
.select:after {
  grid-area: select;
}

  .select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
  }



.container {
  width: 350px; 
  background-color: white; 
  padding: 20px;
  border-radius: 6px;  
}

.filter {
    display: flex; 
    flex-direction: row;
}

label {
    margin-right: 5px; 
}

input[type=text] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.form-control {
    background-color: #f3f2ee;
    color: #66615b;
}

.header{
    display: flex;
    flex-direction: row;
    text-align: center;  
}

.data{
  display: flex;
  flex-direction: column;
  text-align: center;  
}

.lines{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.line {
  display: flex; 
  flex-direction: row; 
  height: 20px;
  margin-bottom: 20px;
  border-top: 1px solid grey;   
}

.text_big { 
  inline-size: 140px;
  overflow: hidden;   
}

.text_small {
  width: 30px;
  overflow: hidden; 
}